POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

DATABASE_PORT=5432
BACKEND_PORT=8080
CLIENT_PORT=3000

JWT_SECRET=secret

LLM_PROVIDER=openai # mock, openai

# For OpenAI 
OPENAI_API_KEY=your_api_key
OPENAI_BASE_URL=https://api.groq.com/openai/v1
